@model IEnumerable<WebMVC.WCFMecanicos.TMecanicos>

@{
    ViewBag.Title = "Lista de Mecanicos";
}

    <h2>Lista de Mecanicos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Documento
        </th>
        <th>
            Tipo de documento
        </th>
        <th>
            Nombres
        </th>
        <th>
           Apellidos
        </th>
        <th>
            Celular
        </th>
        <th>
            Correo
        </th>
        <th>
           Dirección
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Tipo_Documento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Documento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Primer_Nombre) @Html.DisplayFor(modelItem => item.Segundo_Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Primer_Apellido)  @Html.DisplayFor(modelItem => item.Segundo_Apellido)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Celular)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Direccion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
